body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    background-color: white;
    display: flex;
    justify-content: center;
    margin: -10px -10px -10px -10px;
}

.nav-divs {
    margin: auto;
    letter-spacing: 3px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-links > li {
    margin: 0 10px 0 10px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    justify-content: center;
}

.containerColor{
    margin-top: 200px;
    background-color: black;
    padding:0 10px 0 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #000;
}

.containerColor > h2 {
    justify-content: center;
    color: white;
    letter-spacing: 3px;
    font-size: 32px;
}

.containerBoton {
    margin-top: 330px;
    position: absolute;
}

.btn {
    padding: 7px 12px;
    background: transparent;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 250ms;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: 250ms;
}
